body {


  background-image: url('https://i.pinimg.com/originals/d3/59/bb/d359bbf5ccc4ee471e4850e55e0ca412.jpg');
  background-size: cover; /* Para que la imagen cubra todo el espacio del enlace */
  background-position: center; /* Centrar la imagen */
 

  }

 

  
  